/* 
    Created on : Mar 24, 2017, 3:19:55 PM
    Author     : Frank Pol
*/
body {
  padding: 15px;
  margin: 8px; }

#tool {
  margin-bottom: 20px; }

video {
  background-color: black; }

video, #waveform_container, #controls {
  width: 100%; }

#controls, video, #waveform_container, input, input, img {
  float: left;
  position: relative; }

form {
  margin: 2.5vh; }

#URLPopup {
  text-align: center;
  padding: 5%;
  padding-bottom: 10%;
  padding-top: 0px; }

input {
  width: 100%; }

#timer {
  padding: 1vh;
  font-size: 120%; }

#controls .row, #controls .col {
  height: 5vh; }

#pp {
  width: 5vh; }

#media {
  padding: 15px 0;
  background-color: #91B5FF;
  border-radius: 5px; }
  #media input[type="range"] {
    background-color: transparent; }

#v {
  margin-top: 5vh; }

#canvas {
  display: none;
  margin-top: 5vh;
  position: absolute;
  /*	border: 3px solid #001D6E;*/ }

#canvas:hover {
  cursor: crosshair; }

#rectangle {
  border: 2px solid green;
  position: absolute;
  margin-top: -10vh; }

#controls {
  padding: 5px; }
  #controls button {
    margin: auto;
    padding: 8px; }

#playback {
  display: inline-block; }
  #playback .col-xs-4 {
    text-align: center;
    font-weight: bold;
    padding-top: 4px; }
  #playback button {
    width: 100%; }
