#table-toggle {
  font-size: 2vw;
  font-weight: bold;
  background-color: #91B5FF;
  border: 0px solid #1956ff;
  border-bottom-width: 5px;
  padding: 10px;
  cursor: pointer; }

#annotation-table, #annotation-table {
  display: none;
  padding: 25px;
  flex-flow: column;
  height: 100%;
  overflow-y: scroll; }
  #annotation-table .row, #annotation-table .row {
    border: 2px solid #91B5FF; }
  #annotation-table .col, #annotation-table .col {
    border-right: 2px solid #91B5FF;
    padding: 10px; }
  #annotation-table .last, #annotation-table .last {
    border-right: 0px; }
  #annotation-table button, #annotation-table button {
    padding: 2px; }

div .fa-caret-up {
  display: none; }
